<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

	<div th:fragment="marquee" th:remove="tag">
	

			<div class="container">
 	     		<marquee>सीरिज जिंकण्यासाठी भारताला हव्या २०६ रन्स, &nbsp;&nbsp;&nbsp; शेतकरी आत्महत्यांवरून सुप्रीम कोर्टानं सरकारला फटकारलं &nbsp;&nbsp;&nbsp; शाळेत मारहाण करणाऱ्या गृह राज्यमंत्र्यांच्या वडिलांवर कारवाई का नाही? &nbsp;&nbsp;&nbsp; वादग्रस्त तृप्ती देसाईंसह पतीविरोधात गुन्हा दाखल </marquee>
			</div>
		<div th:replace="common/scripts :: commmon"></div>
	</div>
	
</body>
</html>