<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
  xmlns:form="http://form"
  xmlns:field="http://field">
<meta charset="ISO-8859-1"></meta>

<head th:replace="common/header :: head"></head>
	<div th:replace="common/header :: top-navigation">...</div>
<body>
  <div class="container">	
  <h3>About us</h3>
  <p>News reporters having many years of experience working with leading Indian news Channels and portals.</p>
  
  <p>
  	PCLive हे पिंपरी चिंचवड मधील एक लोकप्रिय न्युज पोर्टल आहे. आम्ही वाचकांसाठी पिंपरी, चिंचवड, भोसरी, मावळ, महाराष्ट्र तसेच राष्ट्रीय व अंतर-राष्ट्रीय बातम्या प्रसिद्ध करीत असतो. </p>
  </div>
  <div th:replace="common/footer :: footer">...</div>
   
</body>
</html>