<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:form="http://form" xmlns:field="http://field">
<meta charset="ISO-8859-1"></meta>
<head>
<head th:replace="common/header :: head"></head>
</head>
<body>
	<div th:replace="common/header :: top-navigation">...</div>
	<div class="container">&nbsp;</div>

	<div class="container">
		<b><font size="4">Headlines</font></b>
		<marquee>
			<font size="3">सीरिज जिंकण्यासाठी भारताला हव्या २०६ रन्स </font>,
			&nbsp;&nbsp;&nbsp; <font size="3">शेतकरी आत्महत्यांवरून
				सुप्रीम कोर्टानं सरकारला फटकारलं </font> &nbsp;&nbsp;&nbsp; <font size="3">शाळेत
				मारहाण करणाऱ्या गृह राज्यमंत्र्यांच्या वडिलांवर कारवाई का नाही?</font>
			&nbsp;&nbsp;&nbsp; <font size="3">वादग्रस्त तृप्ती देसाईंसह
				पतीविरोधात गुन्हा दाखल </font>
		</marquee>
	</div>

	<div class="container" style="width: 70%; height: 30px; border: 1px">
		<div class="col-lg-8 col-xs-12 col-centered">
			<font size="6">Your Advertisement here !!!</font>
		</div>
	</div>

    <div class="container">
    <h3>विश्व</h3>
    </div>

	<div class="container">
		<h4>पंतप्रधान नरेंद्र मोदी आणि चीनचे अध्यक्ष शि जिनपिंग यांची भेट</h4>
		<p>भारत आणि चीनदरम्यान सिक्कीमवरून तणाव वाढलेला असताना पंतप्रधान
			नरेंद्र मोदी आणि चीनचे अध्यक्ष शि जिनपिंग यांची जर्मनीमध्ये भेट झाली.
		</p>
	</div>

	<div class="container">
		<h4>भारत आणि चीन लष्करांपैकी कोण शक्तीशाली?</h4>
		<p>भारताकडे एकमेव प्लसपाईंट आहे, सुखोई 30 एमकेआय.दुसरीकडे सैनिक,
			लढाऊ विमानांची संख्या, रणगाडे यांची संख्या भारतापेक्षा कितीतरी पट
			चीनकडे जास्त आहे.</p>
	</div>

	<div class="container">
		<h4>डोनाल्ड ट्रम्प यांचा असा झाला पोपट, व्हिडीओ व्हायरल</h4>
		<p>अमेरिकेचे राष्ट्राध्यक्ष डोनाल्ड ट्रम्प सातत्याने काहीना काही
			कारणाने चर्चेत असतात. आता तर त्यांच्या चेहऱ्यावरील रंग उडाल्याचा एक
			व्हिडिओ व्हायरल होत आहे.</p>
	</div>

	<div class="container">
		<h4>पंतप्रधान मोदी करणार बड्या कंपन्यांच्या सीईओंना संबोधित
			पंतप्रधान मोदी करणार बड्या कंपन्यांच्या सीईओंना संबोधित</h4>
		<p>पंतप्रधान नरेंद्र मोदींच्या तीन दिवसीय ऐतिहासिक इस्त्रायल
			दौऱ्याचा आज शेवटचा दिवस आहे. इस्त्रायल आणि भारताच्या बड्या
			कंपन्यांच्या सीईओच्या संयुक्त परिषदेला संबोधित करतील. त्यानंतर हैफा
			शहरात असणाऱ्या पहिल्या महायुद्धात मृत्यू पावलेल्यांच्या स्मारकाला
			आदरांजली वाहून आपला दौरा संपवतील. दुपारनंतर मोदी जर्मनीला रवाना</p>
	</div>
	<div th:replace="common/footer :: footer">...</div>
</body>
</html>