<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:form="http://form" xmlns:field="http://field">
<meta charset="ISO-8859-1"></meta>
<head>
<head th:replace="common/header :: head"></head>
</head>

<body>
	<div th:replace="common/header :: top-navigation">...</div>
	<div class="container">&nbsp;</div>

	<div class="container">
		<b><font size="4">Headlines</font></b>
		<marquee>
			<font size="3">सीरिज जिंकण्यासाठी भारताला हव्या २०६ रन्स </font>,
			&nbsp;&nbsp;&nbsp; <font size="3">शेतकरी आत्महत्यांवरून
				सुप्रीम कोर्टानं सरकारला फटकारलं </font> &nbsp;&nbsp;&nbsp; <font size="3">शाळेत
				मारहाण करणाऱ्या गृह राज्यमंत्र्यांच्या वडिलांवर कारवाई का नाही?</font>
			&nbsp;&nbsp;&nbsp; <font size="3">वादग्रस्त तृप्ती देसाईंसह
				पतीविरोधात गुन्हा दाखल </font>
		</marquee>
	</div>

	<div class="container" style="width: 70%; height: 30px; border: 1px">
		<div class="col-lg-8 col-xs-12 col-centered">
			<font size="6">Your Advertisement here !!!</font>
		</div>
	</div>

	<div class="container">
	<h3>भारत</h3>
	</div>

	<div class="container">
		<h4>जम्मू-काश्मीरमध्येही GST, आज रात्री १२ वाजल्यापासून होणार
			लागू</h4>
		<p>जम्मू-काश्मीरमध्ये आज रात्री १२ वाजल्यापासून वस्तू आणि सेवा कर
			(GST) लागू केला जाणार आहे. केंद्रीय अर्थमंत्री अरुण जेटली यांनी
			जम्मू-काश्मीर विधानसबेत जीएसटी विधेयक लागू होणार असल्याची माहिती
			गुरुवारी दिली होती.</p>
	</div>

	<div class="container">
		<h4>बुरहान वानीच्या खात्म्याला वर्ष पूर्ण होताना
			&#039;हायअलर्ट&#039; बुरहान वानीच्या खात्म्याला वर्ष पूर्ण होताना
			'हायअलर्ट'</h4>
		<p>हिजबुल मुजाहिद्दीनचा कमांडर आणि दहशतवादी बुरहान वानीचा खात्मा
			होऊन शनिवारी वर्ष पूर्ण होतंय.</p>
	</div>

	<div class="container">
		<h4>पेट्रोल-डिझेलचे दर पुन्हा वाढले, जाणून घ्या आजचे दर</h4>
		<p>मंगळसूत्र हे पत्नीसाठी सौभाग्याचं लेणं मानलं जातं. मात्र हेच
			मंगळसूत्र आपल्या पतीसाठी घातक असल्याची अफवा पसरली आणि महिलांनी आपली
			मंगळसूत्रे तोडून फेकण्यास सुरुवात केली.</p>
	</div>

	<div class="container">
		<h4>एकाच किमतीत मॉल, हॉटेल, विमानतळांवर मिळणार वस्तू एकाच किमतीत मॉल,
			हॉटेल, विमानतळांवर मिळणार वस्तू </h4>
			<p>मॉल, हॉटेल, विमानतळांवर एखादी वस्तू घेताना 'एमआरपी' पेक्षा
				जास्त दर द्यावा लागतो. त्यामुळे अनेकवेळा ग्राहक आणि व्यावसायिकांत
				वाद होत होतो. मात्र, अनेक तक्रारींची दखल घेत आता केंद्रीय ग्राहक
				व्यवहार मंत्रालयाने 'एक वस्तू, एकच किंमत' असा निर्णय घेतलाय.</p>
	</div>

	<div class="container">
		<h4></h4>
		<p></p>
	</div>


	<div th:replace="common/footer :: footer">...</div>
</body>
</html>