<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:form="http://form" xmlns:field="http://field">
<meta charset="ISO-8859-1"></meta>

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<meta name="viewport" content="width=device-depth. initial-scale=1"></meta>

<head>
<head th:replace="common/header :: head"></head>
</head>

<body>
	<div th:replace="common/header :: top-navigation">...</div>
	<div  class="container">
		&nbsp;
	</div>
	<div class="container">
	  <b><font size="6">Headlines</font></b><marquee><font size="6">सीरिज जिंकण्यासाठी भारताला हव्या २०६ रन्स </font>, 
	  		&nbsp;&nbsp;&nbsp; <font size="6">शेतकरी आत्महत्यांवरून सुप्रीम कोर्टानं सरकारला फटकारलं </font> &nbsp;&nbsp;&nbsp; 
	  		<font size="6">शाळेत मारहाण करणाऱ्या गृह राज्यमंत्र्यांच्या वडिलांवर कारवाई का नाही?</font> &nbsp;&nbsp;&nbsp; 
	  		<font size="6">वादग्रस्त तृप्ती देसाईंसह पतीविरोधात गुन्हा दाखल </font></marquee>
	</div>
	
	<div class="container" style="width:75%;height:30px;">
		<div class="col-lg-8 col-xs-12 col-centered">
			<font size="6">Your Advertisement here !!!</font>
		</div>
	</div>
	
	
	<div class="container">
		<img src="news1.png"></img>
		<h3>हक्काची घरे वाचविण्यासाठी नागरिकांची शरद पवारांकडे धाव</h3>
		<p>नागरिकांची घरे वाचविण्यासाठी जातीने लक्ष घालण्याचे शरद पवार
			यांचे आश्वासन</p>
		<p>एमपीसी न्यूज - वाल्हेकरवाडी, बिलजीनगर, थेरगाव, चिंचवडेनगर,
			पिंपळे गुरव येथील रिंगरोड बाधित नागरिकांनी आपली हक्काची घरे
			वाचविण्यासाठी थेट शरद पवार यांच्याकडे धाव घेतली. शरद पवार यांना
			निवेदन देण्यात आले असून पवार यांनी सर्वसामान्य नागरिकांची हक्काची घरे
			वाचविण्यासाठी आपण जातीने या प्रकरणात लक्ष घालणार, असे आश्वासन दिले.</p>

		<p>वाल्हेकरवाडी, बिलजीनगर, थेरगाव, चिंचवडेनगर, पिंपळे गुरव भागातील
			90 टक्के नागरिक मागील 35 ते 40 वर्षांपासून या ठिकाणी वास्तव्यास आहेत.
			पिंपरी-चिंचवड नवनगर विकास प्राधिकरणाने 1986 साली विकास आराखडा मंजूर
			केला. त्यानुसार या भागातील मोठ्या प्रमाणात नागरिकांना रस्त्यावर
			येण्याची वेळ विकास आराखड्यामुळे येणार आहे. दरम्यान, पिंपरी-चिंचवड
			महापालिकेने या भागात विकासकामे करण्यासाठी नवनगर प्राधिकरणाकडून ना
			हरकत प्रमाणपत्र मिळविले. हे सर्व नागरिक पालिकेचे करदाते असून
			करदात्यांची गैरसोय करणे पालिका आणि नवनगर विकास प्राधिकरणास शोभणारे
			नाही.</p>

		<p>प्राधिकरणाचा कालबाह्य झालेल्या डी. पी. रद्द करून नागरिकांच्या
			मिळकती नागरिकांच्या नावावर करून द्याव्यात, अशी मागणी वाल्हेकरवाडी,
			बिजलीनगर, थेरगाव, पिंपळे गुरव येथील नागरिकांनी निवेदनाद्वारे भारताचे
			माजी कृषिमंत्री शरद पवार यांच्याकडे केली आहे. तसेच प्राधिकरणाच्या
			नियमानुसार ट्रान्स्फर अॅण्ड डेव्हलपमेंट चार्जेस देण्याची तयारी देखील
			नागरिकांनी दर्शविली आहे.</p>

	</div>

	<div th:replace="common/footer :: footer">...</div>
</body>
</html>
