<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:form="http://form" xmlns:field="http://field">
<meta charset="ISO-8859-1"></meta>

<head>
<head th:replace="common/header :: head"></head>
</head>

<body>
	<div th:replace="common/header :: top-navigation">...</div>
	<div class="container"></div>
	
	<div class="container">
		Search for <input type="text" name="searchString"/> In
		<select>
			<option value="topics">News Topics</option>
			<option value="local">Local</option>
			<option value="pune">Pune</option>
			<option value="maharashtra">Maharashtra</option>
			<option value="national">National</option>
		</select>
		<input type="submit" name="Search"></input>
		
	</div>
	
	<div th:replace="common/footer :: footer">...</div>
</body>
</html>